<div class="card">    
    <div class="card-header bg-dark text-light">
        <h5>Create New Booking</h5>
    </div>

    <form class="bg-dark text-light" [formGroup]="bookingForm" (ngSubmit)="save()">
        <div class="card-body">
            <div class="row mb-2">
                <div class="col">
                    <!-- Id -->
                    <label class="form-label">ID</label>
                    <input type="number" class="form-control" formControlName="id"/>
                </div>
    
                <div class="col">
                    <!-- RoomNumber -->
                    <label class="form-label">Room Number</label>
                    <input type="number" class="form-control" formControlName="roomNumber">
                </div>
            </div>
    
            <div class="row mb-2">
                <div class="col">
                    <!-- Name -->
                    <label class="form-label">Guest Name</label>
                    <input type="text" class="form-control" formControlName="name"/>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-4">
                    <div class="text-danger" *ngIf="bookingForm.get('name')?.hasError('minlength')">* Der Name ist zu kurz.</div>
                </div>
            </div>
    
            <div class="row">
                <div class="col">
                    <!-- StartDate -->
                    <label class="form-label">Start Date</label>
                    <input type="date" class="form-control" formControlName="startDate" [value]="booking.startDate | date:'yyyy-MM-dd'" (input)="dateChanged($event, true)"/>
                </div>
    
                <div class="col">
                    <!-- EndDate -->
                    <label class="form-label">End Date</label>
                    <input type="date" class="form-control" formControlName="endDate" [value]="booking.endDate | date:'yyyy-MM-dd'" (input)="dateChanged($event, false)"/>
                </div>
            </div>
        </div> 

        <div class="card-footer">
            <button type="submit" class="btn btn-primary" [disabled]="bookingForm.invalid" (click)="save()">Submit</button>
        </div>

    </form>
</div>

    
